@use '@scss/variables' as *;
@use '@scss/media' as *;

.radio {
  appearance: none;
  position: absolute;
}

.label {
  padding: 16px;
  padding-left: 60px;
  cursor: pointer;
  border-radius: 300px;
  background-color: $white;
  color: $dark;
  background-position: center left 16px;
  background-repeat: no-repeat;
  background-size: 40px;
  min-height: 72px;
  display: flex;
  align-items: center;
  transition: 0.3s;

  @include mobile {
    padding: 10px 12px 10px 40px;
    background-position: center left 12px;
    background-size: 24px;
    min-height: 40px;
  }

  &_bouquets {
    background-image: url('/img/flowers.png');
  }

  &_toys {
    background-image: url('/img/bear-toy.png');
  }

  &_postcards {
    background-image: url('/img/postcard.png');
  }

  &:hover {
    background-color: $orange;
  }
}

.radio:focus-visible + .label {
  outline: 2px solid $orange;
  outline-offset: 5px;
}

.radio:checked + .label {
  background-color: $light-orange;
}
